#content{
    height: 410px;
    width: 80%;
    border-radius: 5px;
    background-color: #f1f2f6;
}

// card
.w3-card-4{
    border-radius: 8px;
}

#card-con{
    height: 320px;
    width: 100%;
    margin-top: 50px;
    border-radius: 8px;


    &:hover{
        border: solid 1px;
    }
}

.w3-display-topright{
    border-radius:8px;
}


#text1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 60%;
    color: white;
}
