html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  width: -webkit-fill-available;
  position: fixed;
}

.navbar-item {
  font-family: 'Montserrat', sans-serif;
}

.navbar-item img {
  margin-left: 30px;
}

#userid :hover {
  background-color: #363636;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  background: #1faa74;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1faa74;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Montserrat';
  margin-top: 49px;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  font-family: 'Montserrat';
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a.active, a:hover {
  border-left: 5px solid white;
  background-color: #80cbae;
}

.sidebar a i {
  font-size: 16px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  font-size: smaller;
  text-transform: uppercase;
}

@media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  .sidebar header {
    display: none;
  }
  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a {
    height: 60px;
  }
  .sidebar a i {
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
  .sidebar header {
    margin: 0;
  }
}

#acc-setting {
  background-color: #80cbae;
  font-family: 'Montserrat';
}

.section {
  padding-top: 10px;
  padding-bottom: 0;
}

.header {
  margin-bottom: 50px;
}

.title {
  color: #1faa74;
  text-align: left;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

input[type=text] {
  width: 100%;
  resize: vertical;
  height: 40px;
  border: none;
  border-bottom: 1px solid #333;
  padding: 10px;
  font-size: 16px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 50px;
  margin-left: 210px;
  margin-right: 80px;
}

.container1 {
  margin-left: 70px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .button {
    width: 100%;
    margin-top: 0;
  }
}

.button {
  background-color: #1faa74;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  width: 200px;
}

.button:hover {
  background-color: #99cc67;
  color: white;
}

#save {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cancel {
  margin-bottom: 0;
}

#retypepass {
  margin-top: 23px;
}

#alrights {
  text-align: center !important;
  font-size: 12px;
}
/*# sourceMappingURL=change-password.css.map */