html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

        /* navbar */
        .navbar {
            width: -webkit-fill-available;
            position: fixed;
        }
        .navbar-item {
            font-family: 'Montserrat', sans-serif;
        }
        .navbar-item img {
            margin-left: 30px;
        }

        #userid :hover {
            background-color: #363636;
        }

        .navbar-burger .burger span {
          color: white;
        }

        /* table */
        // table {
        //     width: 70% !important;
        //     margin-left: 15%;
        //     margin-right: auto;
        //     margin-top: 5%;
        //     font-size: 26pt;
        //     background-color: white !important;
        // }

        // th{
        //     background-color: white;
        //     text-align: center !important;
        //     color: #99cc67 !important;
        // }

        // td {
        //     background-color: white;
        //     text-align: center !important;
        //     color: #99cc67;
        //     border: solid black !important;
        // }

        // #serialno {
        //     padding: 0;
        // }

        // #userinfo {
        //     padding: 0;
        // }

        .notification.is-info {
            font-family: 'Montserrat';
            width: 800px;
            height: 300px;
            margin-left: 240px;
            margin-top: 90px;
            border-radius: 10px;
            padding-top: 40px;
            margin-bottom: 100px;
        }

        h1 #title{
            font-size: 70px;
            font-family: 'Montserrat';
        }

        // SIDEBAR
        // w3-bar-block .w3-bar-item {
        //     font-family: 'Montserrat', sans-serif;
        // }
        // .w3-sidebar {
        //     height: 100%;
        //     width: 200px;
        //     background-color: #1faa74 !important;
        //     color: white;
        //     position: fixed!important;
        //     z-index: 1;
        //     overflow: auto;
        //     font-family: 'Montserrat', sans-serif;
        // }

        // .w3-button {
        //     font-family: 'Montserrat', sans-serif;
        //     padding-left: 15px;
        // }

        // h3.w3-bar-item {
        //     margin-top: 60px;
        // }

        // .hr {
        //     height:1px; 
        //     margin:0;
        // }

        // #dashboard {
        //     background-color: #80cbae;
        //     font-family: 'Montserrat';
        // }

        .sidebar{
            position: fixed;
            width: 220px;
            height: 100%;
            background: #1faa74;
            transition: all .5s ease;
          }
          .sidebar header{
            font-size: 28px;
            color: white;
            line-height: 70px;
            text-align: center;
            background: #1faa74;
            user-select: none;
            font-family: 'Montserrat';
            margin-top: 49px;
          }
          .sidebar a{
            display: block;
            height: 65px;
            width: 100%;
            color: white;
            line-height: 65px;
            padding-left: 30px;
            box-sizing: border-box;
            border-bottom: 1px solid white;
            border-top: 1px solid rgba(255,255,255,.1);
            border-left: 5px solid transparent;
            font-family: 'Montserrat';
            transition: all .5s ease;
          }
          a.active,a:hover{
            border-left: 5px solid white;
            background-color: #80cbae;
          }
          .sidebar a i, img{
            font-size: 16px;
            margin-right: 16px;
          }
          .sidebar a span{
            letter-spacing: 1px;
            font-size: smaller;
            text-transform: uppercase;
          }

          @media screen and (max-width : 360px){
            .sidebar{
              height: auto;
              width: 50px;
              left: 0;
              margin: 100px 0;
            }
            .sidebar header{
              display: none;
            }
            span{
              position: absolute;
              margin-left: 23px;
              opacity: 0;
              visibility: hidden;
            }
            .sidebar a{
              height: 60px;
            }
            .sidebar a i{
              margin-left: -15px;
            }
            a:hover {
              width: 200px;
              background: inherit;
            }
            .sidebar a:hover span{
              opacity: 1;
              visibility: visible;
            }
            
            .sidebar header {
              margin:0;
            }

          .notification.is-info {
            margin-left: 40px;
            width: 280px;
            padding-top: 10px;
          }
          }
          
        // footer
        #alrights {
            text-align: center !important;
            font-size: 12px;
        }

        // media query
